<div class="main-wrapper authentication-wrapper">
    <div class="container-fuild">

        <!-- Register -->
        <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
            <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                    <div class="p-4 text-center">
                        <a [routerLink]="routes.index">
                            <img src="assets/img/logo-white.svg" alt="logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="card authentication-card">
                        <div class="card-header">
                            <div class="text-center">
                                <h5 class="mb-1">{{ 'auth.register.title' | translate }}</h5>
                                <p>{{ 'auth.register.subtitle' | translate }}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="registerTouristEmailForm" (ngSubmit)="submitForm()">
                                <div class="mb-3">
                                    <label class="form-label" for="first_name">{{ 'auth.register.firstNameLabel' | translate }}</label>
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="first_name" formControlName="firstName"
                                            class="form-control form-control-lg" [placeholder]="'auth.register.firstNamePlaceholder' | translate"
                                            minlength="2" maxlength="50">
                                    </div>

                                    <div *ngIf="registerTouristEmailForm.controls['firstName'].invalid && (registerTouristEmailForm.controls['firstName'].dirty || registerTouristEmailForm.controls['firstName'].touched)"
                                        class="text-danger">
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['firstName'].errors?.['required']">
                                            {{ 'auth.register.errors.firstNameRequired' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['firstName'].errors?.['minlength']">
                                            {{ 'auth.register.errors.firstNameMinLength' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['firstName'].errors?.['maxlength']">
                                            {{ 'auth.register.errors.firstNameMaxLength' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="last_name">{{ 'auth.register.lastNameLabel' | translate }}</label>
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="last_name" formControlName="lastName"
                                            class="form-control form-control-lg" [placeholder]="'auth.register.lastNamePlaceholder' | translate"
                                            minlength="2" maxlength="50">
                                    </div>

                                    <div *ngIf="registerTouristEmailForm.controls['lastName'].invalid && (registerTouristEmailForm.controls['lastName'].dirty || registerTouristEmailForm.controls['lastName'].touched)"
                                        class="text-danger">
                                        <div *ngIf="registerTouristEmailForm.controls['lastName'].errors?.['required']">
                                            {{ 'auth.register.errors.lastNameRequired' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['lastName'].errors?.['minlength']">
                                            {{ 'auth.register.errors.lastNameMinLength' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['lastName'].errors?.['maxlength']">
                                            {{ 'auth.register.errors.lastNameMaxLength' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="email">{{ 'auth.register.emailLabel' | translate }}</label>
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="email" id="email" formControlName="email"
                                            class="form-control form-control-lg" [placeholder]="'auth.register.emailPlaceholder' | translate">
                                    </div>

                                    <div *ngIf="registerTouristEmailForm.controls['email'].invalid && (registerTouristEmailForm.controls['email'].dirty || registerTouristEmailForm.controls['email'].touched)"
                                        class="text-danger">

                                        <div *ngIf="registerTouristEmailForm.controls['email'].errors?.['required']">
                                            {{ 'auth.register.errors.emailRequired' | translate }}
                                        </div>
                                        <div *ngIf="registerTouristEmailForm.controls['email'].errors?.['email']">
                                            {{ 'auth.register.errors.emailInvalid' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password">{{ 'auth.register.passwordLabel' | translate }}</label>
                                    <div class="pass-group input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fa-solid fa-unlock"></i>
                                        </span>
                                        <input [type]="password[0] ? 'text' : 'password'" id="password"
                                            formControlName="password" class="pass-input form-control form-control-lg"
                                            [placeholder]="'auth.register.passwordPlaceholder' | translate" />
                                        <span class="isax toggle-password"
                                            [ngClass]="password[0] ? 'isax-eye' : 'isax-eye-slash'"
                                            (click)="togglePassword(0)" (keydown.enter)="togglePassword(0)"
                                            tabindex="0"></span>
                                    </div>

                                    <div *ngIf="registerTouristEmailForm.controls['password'].invalid && (registerTouristEmailForm.controls['password'].dirty || registerTouristEmailForm.controls['password'].touched)"
                                        class="text-danger">
                                        <div *ngIf="registerTouristEmailForm.controls['password'].errors?.['required']">
                                            {{ 'auth.register.errors.passwordRequired' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['password'].errors?.['minlength']">
                                            {{ 'auth.register.errors.passwordMinLength' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password_confirm">{{ 'auth.register.confirmPasswordLabel' | translate }}</label>
                                    <div class="pass-group input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fa-solid fa-unlock"></i>
                                        </span>
                                        <input [type]="password[1] ? 'text' : 'password'" id="password_confirm"
                                            formControlName="confirmPassword"
                                            class="pass-input form-control form-control-lg"
                                            [placeholder]="'auth.register.confirmPasswordPlaceholder' | translate" />
                                        <span class="isax toggle-password"
                                            [ngClass]="password[1] ? 'isax-eye' : 'isax-eye-slash'"
                                            (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)"
                                            tabindex="0"></span>
                                    </div>

                                    <div *ngIf="registerTouristEmailForm.controls['confirmPassword'].invalid && (registerTouristEmailForm.controls['confirmPassword'].dirty || registerTouristEmailForm.controls['confirmPassword'].touched) || registerTouristEmailForm.errors?.['passwordMismatch']"
                                        class="text-danger">
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['confirmPassword'].errors?.['required']">
                                            {{ 'auth.register.errors.passwordRequired' | translate }}
                                        </div>
                                        <div
                                            *ngIf="registerTouristEmailForm.controls['confirmPassword'].errors?.['minlength']">
                                            {{ 'auth.register.errors.passwordMinLength' | translate }}
                                        </div>

                                        <div *ngIf="registerTouristEmailForm.errors?.['passwordMismatch']">
                                            {{ 'auth.register.errors.passwordMismatch' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 mb-3">
                                    <div class="d-flex">
                                        <div class="form-check d-flex align-items-center mb-2">
                                            <input class="form-check-input mt-0" type="checkbox" formControlName="terms"
                                                id="agree">
                                            <label class="form-check-label ms-2 text-gray-9 fs-14" for="agree" style="margin-right: 4px;">
                                                {{ 'auth.register.agreeTerms' | translate }}
                                            </label>
                                            <a [routerLink]="routes.termsConditions" target="_blank"
                                                class="link-primary fw-medium fs-14">{{ 'auth.register.termsLink' | translate }}</a>

                                        </div>
                                    </div>
                                    <div *ngIf="registerTouristEmailForm.controls['terms'].invalid && (registerTouristEmailForm.controls['terms'].dirty || registerTouristEmailForm.controls['terms'].touched)"
                                        class="text-danger">
                                        <div *ngIf="registerTouristEmailForm.controls['terms'].errors?.['required']">
                                            {{ 'auth.register.errors.termsRequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button type="submit"
                                        class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100"
                                        [disabled]="loading || (registerTouristEmailForm.touched && registerTouristEmailForm.invalid)">
                                        <span>{{ 'auth.register.button' | translate }}</span>

                                        <div *ngIf="loading" class="spinner-border spinner-border-sm">
                                        </div>
                                    </button>
                                </div>

                                <div *ngIf="errorMessage" class="mb-3">
                                    <p class="text-danger text-center">
                                        {{ errorMessage }}
                                    </p>
                                </div>
                                <div *ngIf="successMessage" class="mb-3">
                                    <p class="text-success text-center">
                                        {{ successMessage }}
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <p class="fs-14">{{ 'auth.register.hasAccount' | translate }} <a [routerLink]="'/login'"
                                            class="link-primary fw-medium">{{ 'auth.register.loginLink' | translate }}</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Register -->

    </div>
    <div class="coprright-footer">
        <p class="fs-14">{{ 'auth.copyright' | translate }} <a [routerLink]="routes.index"
                class="text-primary fw-medium">Tourya</a></p>
    </div>
</div>

<!-- Modal de Éxito -->
<div class="modal fade show d-block" *ngIf="showSuccessModal" tabindex="-1" role="dialog" aria-modal="true" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 shadow-lg" style="border-radius: 20px; overflow: hidden;">
            <div class="modal-body text-center p-5">
                <div class="mb-4">
                    <div class="bg-success text-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="isax isax-tick-circle5 fs-40"></i>
                    </div>
                </div>
                <h4 class="fw-bold mb-3 text-dark">{{ 'auth.register.successModal.title' | translate }}</h4>
                <p class="text-muted fs-15 mb-4 px-3">
                    {{ 'auth.register.successModal.description' | translate }}
                </p>
                <div class="alert alert-light border-0 py-3 mb-4" style="background-color: #f8f9fa; border-radius: 12px;">
                    <p class="mb-0 fs-14 text-dark">
                        <i class="isax isax-sms me-2 text-primary"></i>
                        {{ 'auth.register.successModal.noticeBefore' | translate }}<strong>{{ 'auth.register.successModal.noticeStrong' | translate }}</strong>{{ 'auth.register.successModal.noticeAfter' | translate }}
                    </p>
                </div>
                <button type="button" class="btn btn-primary btn-xl rounded w-100 fw-bold shadow-sm" (click)="closeModal()">
                    {{ 'auth.register.successModal.button' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
