<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title mb-2">Tour Gallery</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a [routerLink]="'/'"><i class="isax isax-home5"></i></a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="'/providers/provider-panel'">Providers Panel</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Tour Gallery
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<div class="content">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-lg-1">
      </div>
      <!-- /Sidebar -->

      <!-- Tour Gallery -->
      <div class="col-lg-10">
        <form [formGroup]="tourGalleryForm" (ngSubmit)="onSubmit()">
          <div class="card shadow-none" id="galleries">
            <div class="card-header">
              <h5 class="fs-18">Gallery {{tour?.name}}</h5>
            </div>
            <div class="card-body">
              <div
                class="file-upload drag-file w-100 d-flex align-items-center justify-content-center flex-column mb-2">
                <span class="upload-img d-block mb-2"><i class="isax isax-document-upload fs-24"></i></span>
                <h6 class="mb-1">Upload Gallery Images</h6>
                <p class="mb-0">Image size should below 5MB</p>
                <input type="file" accept="image/*" maxFileSize="50000" (change)="onFileSelected($event)" multiple>
              </div>
              <div *ngIf="this.galleries.length > 0">

                <div class="d-flex align-items-center gallery-container" cdkDropList cdkDropListOrientation="mixed"
                  (cdkDropListDropped)="drop($event)">
                  <div class="gallery-item" *ngFor="let gallery of galleries.controls; let i=index" cdkDrag
                    [cdkDragData]="i">
                    <a href="javascript:void(0);" class="gallery-upload-img of list m-2">
                      <a href="javascript:void(0);" class="gallery-upload-img me-2">
                        <img [src]="gallery.get('imageUrl')?.value" alt="Img">
                        <span
                          class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"
                          (click)="onDeleteImage(i)"><i class="isax isax-trash"></i></span>
                      </a>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="save">
            <div class="d-flex align-items-center justify-content-end">
              <button type="submit" class="btn btn-primary"
                [disabled]="loading || (submitted && tourGalleryForm.touched && tourGalleryForm.invalid)">
                <span>Upload images</span>
                <div *ngIf="loading" class="spinner-border spinner-border-sm">
                </div>
              </button>
            </div>
          </div>

          <div *ngIf="errorMessage" class="mt-3">
            <p class="text-danger text-center">
              {{ errorMessage }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>