<div class="main-wrapper authentication-wrapper">
    <div class="container-fuild">
        <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
            <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                    <div class="p-4 text-center">
                        <a [routerLink]="routes.index">
                            <img src="assets/img/logo-white.svg" alt="logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="card authentication-card">
                        <div class="card-header">
                            <div class="text-center">
                                <h5 class="mb-1">{{ 'auth.forgotPassword.title' | translate }}</h5>
                                <p>{{ 'auth.forgotPassword.subtitle' | translate }}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
                                <div class="mb-3">
                                    <label class="form-label">{{ 'auth.forgotPassword.emailLabel' | translate }}</label>
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="isax isax-message"></i>
                                        </span>
                                        <input
                                         type="email"
                                         class="form-control form-control-lg"
                                         [placeholder]="'auth.forgotPassword.emailPlaceholder' | translate"
                                         formControlName="email"
                                         >
                                    </div>
                                    <div *ngIf="forgotPasswordForm.controls['email'].invalid &&
                                     (forgotPasswordForm.controls['email'].dirty ||
                                      forgotPasswordForm.controls['email'].touched)"
                                        class="text-danger">

                                        <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
                                            {{ 'auth.forgotPassword.errors.emailRequired' | translate }}
                                        </div>
                                        <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">
                                            {{ 'auth.forgotPassword.errors.emailInvalid' | translate }}
                                        </div>
                                    </div>
                                </div>

                            <button type="submit"
                                class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">


                                <span>{{ 'auth.forgotPassword.button' | translate }}</span>

                                <div *ngIf="loading" class="spinner-border spinner-border-sm">
                                </div>
                            </button>
                            <br>
                                <!-- <div class="mb-3">

                                    <a  [routerLink]="routes.changePassword" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">Cambiar Contraseña</a>
                                </div> -->
                                <div class="d-flex justify-content-center">
                                    <p class="fs-14">{{ 'auth.forgotPassword.rememberPassword' | translate }} <a [routerLink]="routes.login" class="link-primary fw-medium">{{ 'auth.forgotPassword.loginLink' | translate }}</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coprright-footer">
        <p class="fs-14">{{ 'auth.copyright' | translate }} <a [routerLink]="routes.index" class="text-primary fw-medium">Tourya</a></p>
    </div>
</div>
