.save {
  position: sticky;
  width: 100%;
  bottom: 10vh;
}

.spinner-border {
  margin-left: 5px;
}

.mat-slide-toogle {
  margin-left: 8px
}

/* Ensure these styles are global or use ViewEncapsulation.None */
.cal-cell.cal-selected-range {
  background-color: #e0f2f7 !important;
  /* Light blue background for selected range */
}

/* Style for the start and end of the range */
.cal-cell.cal-selected-range:first-child {
  border-left: 2px solid #2196f3;
  /* Example border */
}

.cal-cell.cal-selected-range:last-child {
  border-right: 2px solid #2196f3;
  /* Example border */
}

.cal-open-day-events-custom {
  padding: 15px;
  color: #fff !important;
  background-color: #555 !important;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
  border-radius: 4px;
}

.cal-event-title-custom {
  font-weight: 500;
  color: #fff !important;
}