<div class="dashboard-container">
  <div class="row">
    <div class="col-12">
      <h3>Dashboard de Administración</h3>
      <p>Bienvenido al panel de administración de Tourya</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios Totales</h5>
          <p class="card-text">
            <span class="display-4">0</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Proveedores Activos</h5>
          <p class="card-text">
            <span class="display-4">0</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reservas del Mes</h5>
          <p class="card-text">
            <span class="display-4">0</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ingresos</h5>
          <p class="card-text">
            <span class="display-4">$0</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> 