<!-- Page Wrapper -->
<div class="content">
    <div class="container">
        <!-- Header -->
        <div class="text-center mb-5">
            <h2 class="mb-2">{{ 'templates.title' | translate }}</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0" style="--bs-breadcrumb-item-active-color: #000; --bs-breadcrumb-divider-color: #000;">
                    <li class="breadcrumb-item">
                        <a [routerLink]="routes.baseUrl" class="text-dark" style="color: #000 !important;">
                            <i class="isax isax-home5"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item text-dark" style="color: #000 !important;">
                        <a [routerLink]="'/providers/provider-panel'" class="text-dark" style="color: #000 !important;">{{ 'templates.providersPanel' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item active text-dark" aria-current="page" style="color: #000 !important; font-weight: 500;">
                        {{ 'templates.breadcrumb' | translate }}
                    </li>
                </ol>
            </nav>
        </div>
        <!-- /Header -->

        <router-outlet></router-outlet>
    </div>
</div>
<!-- /Page Wrapper -->
