<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">Templates de Horarios</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="routes.baseUrl"><i class="isax isax-home5"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a [routerLink]="'/providers/provider-panel'">Providers Panel</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Templates
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Wrapper -->
<div class="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- /Page Wrapper -->
